:root{
    --title-color: #111729;
    --text-color: #677489;
    --card-color: #FFFFFF;
    --bg-color: #F2F5F9;
}

*{
    box-sizing: border-box;
}

body{
    /* font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif; */
}

.card__photo{
    height: 300px;
    background: no-repeat url('assets/hero-image-business-card.png');
}